<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ruby on Rails</title>
</head>
<body>
  <h1>Welcome to Article listing Page</h1>
  <h2><%= link_to 'Articles Listing', articles_path %></h2>
  <h2><%= link_to 'About page', about_path %></h2>
  <h2><%= link_to 'Knowledge page', knowledge_path %></h2>
</body>
</html>